.content {
    flex: 1 1 1668 / 1920 * 100%;
    display: flex;
    flex-direction: column;
    &-head {
        box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
        &-container {
            padding: 16px 16px 18px 16px;
            max-width: 1668px;
        }
        &-user {
            width: fit-content;
            margin-left: auto;
            display: flex;
            align-items: center;
            &__avatar {
                width: 36px;
                img {
                    height: 36px;
                    object-fit: cover;
                }
            }
            &__text {
                margin-left: 16px;
            }
            &__name {
                font-size: 13px;
                line-height: 20 / 13 * 100%;
                color: #555b6d;
            }
            &__job-title {
                font-size: 13px;
                line-height: 20 / 13 * 100%;
                color: #adb5bd;
            }
            &__btn {
                background-color: transparent;
                margin-left: 16px;
                &:before {
                    font-size: 16px;
                    color: #555b6d;
                }
            }
        }
    }
    &-work {
        flex: 1 1 auto;
        background-color: #f8f8fb;
        &-container {
            padding: 22px 13px 0 42px;
            max-width: 1668px;
        }
        &__pagination {
            button {
                font-size: 13px;
                line-height: 20 / 13 * 100%;
                color: #74788d;
                background-color: transparent;
                height: 35px;
                border: 1px solid #ced4da;
                &:last-child {
                    width: 68px;
                    border-radius: 0px 4px 4px 0px;
                    margin-left: -5px;
                }
                &:first-child {
                    border-radius: 4px 0px 0px 4px;
                    width: 80px;
                }
            }
        }
        &__count-items {
            font-size: 13px;
            line-height: 20 / 13 * 100%;
            color: #495057;
        }
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24 / 16 * 100%;
            text-transform: uppercase;
            color: #495057;
        }
        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-block {
            padding: 45px 38px 40px 25px;
            background-color: white;
            box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.0313726);
            border-radius: 4px;
            margin-top: 31px;
        }
        &-label {
            font-size: 13px;
            line-height: 20 / 13 * 100%;
            color: #495057;
            input {
                margin-left: 4px;
                border: 1px solid #ced4da;
                border-radius: 4px;
                width: 168px;
                height: 27px;
                padding: 0 6px;
                font-size: 13px;
                line-height: 20 / 13 * 100%;
                color: #495057;
            }
        }
        &-items {
            margin-top: 24px;
            width: 100%;
            font-size: 13px;
            line-height: 20 / 13 * 100%;
            color: #495057;
            border-collapse: collapse;
            margin-bottom: 34px;
            thead {
                tr {
                    td {
                        font-weight: 600;
                    }
                }
            }
            tr {
                td {
                    padding: 11px;
                    border-top: 1px solid #eff2f7;
                    border-bottom: 1px solid #eff2f7;
                }
            }
            &__btn {
                background-color: transparent;
                &::before {
                    font-size: 12px;
                    color: #556ee6;
                }
            }
            &__open-btn {
                font-size: 15px;
                line-height: 18 / 15 * 100%;
                color: #556ee6;
                background-color: transparent;
                padding: 10px 23px;
                border: 1px solid #556ee6;
                border-radius: 4px;
            }
        }
        &-btn {
            background: #556ee6;
            border: 1px solid #556ee6;
            border-radius: 4px;
            font-size: 15px;
            line-height: 18 / 15 * 100%;
            color: white;
            padding: 9px 69px;
        }
    }
}
.crumbs {
    display: flex;
    &__item {
        &-link {
            font-size: 13px;
            line-height: 20 / 13 * 100%;
            color: #495057;
            &.active {
                color: #74788d;
            }
        }
        &:not(:first-child) {
            &::before {
                content: '/';
                font-size: 10px;
                margin-left: 7px;
                margin-right: 5px;
            }
        }
    }
}
