.footer {
    background-color: #f8f8fb;
    padding-top: 39px;
    p {
        font-size: 13px;
        line-height: 20 / 13 * 100%;
        color: #74788d;
        width: 1668 / 1920 * 100%;
        padding: 21px 0 17px 38px;
        background: #f2f2f5;
        margin-left: auto;
    }
}
