.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 100;
    cursor: default;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &.open &-content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
    &-body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s ease 0s;
    }
    &-content {
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        width: 950px;
        background: white;
    }
}
